<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>NKT | Asig Wll</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <div class="header-1">
    <div class="container  align-items-center">
      <div class="row">
        <div class="col-md-8">
          <ul>
            <li><span><i class="bi bi-envelope"></i></span> <a href="mailto:info@asigwll.com"> info@asigwll.com</a></li>
            <li><span><i class="bi bi-telephone-fill"></i></span> <a href="#"> 00965 22243860 / 61/62/63/64 </a></li>
          </ul>
        </div>
        <div class="col-md-4 justify-content-md-end d-md-flex">
          <ul class="social-icon">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <header id="header" class="align-items-center sticky-top">
    <div class="col-md-12">
      <div class="container  align-items-center">
        <div class="row">
          <div class="col-lg-2">
            <h1 class="logo me-auto"><a href="index.html">
                <img src="assets/img/asig-logo.png" class="img-fluid"> </a>
              <i class="bi bi-list mobile-nav-toggle"></i>
            </h1>
          </div>
          <div class="col-md-10 my-auto">
            <nav id="navbar" class="navbar order-last order-lg-0">
              <ul>
                <li><a class="nav-link scrollto" href="index.html">Home</a></li>
                <li><a class="nav-link scrollto" href="about.html">About Us</a></li>
                <li><a class="nav-link scrollto" href="services.html">Services</a></li>
                <li><a class="nav-link scrollto" href="clients.html">Clients</a></li>
                <li><a class="nav-link scrollto active" href="agencies.html">Agencies</a></li>

                <li><a class="nav-link scrollto" href="gallery.html">Gallery</a></li>
                <li><a class="nav-link scrollto" href="news.html">News</a></li>
                <li><a class="nav-link scrollto" href="career.html">Career</a></li>
                <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
              </ul>

            </nav><!-- .navbar -->
          </div>
        </div>
      </div>
    </div>

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->

  <section class="inner-banner d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-12 text-center">
          <h1>NKT</h1>
          <h6><span><a href="index.html">Home</a></span> > <a href="agencies.html"> Agencies </a> > NKT </h6>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  <section id="about" class="about">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-5 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/nkt-banner.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-7 my-auto content about-section1 aos-init aos-animate" data-aos="fade-right"
          data-aos-delay="100">
          <h3>About NKT</h3>
          <p>
            NKT is a global frontline supplier to the energy
            sector and as such, we develop, manufacture and
            market high-quality cables, cable accessories
            and solutions for power grid infrastructure and
            construction sites.

            Our manufacturing plants are among the most
            modern, flexible and cost-effective facilities anywhere in the world, and we continue to invest
            heavily to ensure that we maintain our leadingedge capability. Here at NKT we also work
            tirelessly to reduce our carbon footprint. Neutral
            production and waste prevention are high priorities
            for us.
          </p>
          <p>
            NKT is part of NKT Holding A/S, which is listed on
            the Danish Stock Exchange. NKT Holding owns a
            number of companies, which are active in different
            industries, and has production facilities on four
            continents and offices in more than 30 countries
            worldwid
          </p>
        </div>


        <div class="col-lg-12 my-auto content about-section1 aos-init aos-animate mt-xl-5" data-aos="fade-right"
          data-aos-delay="100">
          <h4><strong>High-voltage cable accessories product range</strong></h4>

          <p>
            High-voltage cable accessories product range
            All high-voltage cable accessories from NKT are
            developed by our own R&D department. Every
            product in the range is type tested in accordance
            with international standards. We also respond to
            specific customer requirements by designing and
            producing customized solutions.

            The entire high-voltage range is produced at our
            state-of-the-art production facility in Alingsas,
            Sweden. This begins with the rigorous selection
            of high-grade materials, and the production and
            testing equipment we employ at every stage
            guarantees the highest product quality.
          </p>
          <p>
            The high-voltage product range from NKT includes
            cable accessories for all applications in the voltage
            ranges from 52 up to 550 kV.
            Within the range, there are versions of the
            accessories based on various different technologies,
            such as plug-in technology, dry-type technology
            and conventional technology with insulating oil.
</p>   
        </div>

      </div>

    </div>
  </section>




  <section class="about nkt-1">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 my-auto content about-section1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
          <h3>The range of cable accessories covers the following applications:</h3>
          <p class="fst-italic">
            We offer cable accessories for all NKT sector and, as such, we develop, manufacture and market high-quality cables, cable accessories and solutions for power grid infrastructure and construction sites. We offer accessories for all applications with voltages up to 550 kV. The accessories come in versions based on various different technologies, such as connector technology, dry-type technology and conventional technology with oil insulation.

          </p>
        </div>
        <div class="col-lg-6 my-auto content about-section1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
          
        <ul>
          <li>Self-supporting outdoor terminations, porcelain or composite</li>
          <li>  Flexible outdoor terminations</li>
          <li>  Terminations for gas-insulated switchgear</li>
          <li>  Transformer terminations</li>
          <li>  Straight-through joints</li>
          <li>  Screen interruption joints/cross-bonding joints</li>
          <li>  Transition joints, XLPE-insulated/oil-filled cables</li>
          <li>  Products for the connection/installation of low-pressure oil-filled cables LPOF</li>
        </ul>
 
        </div>
      </div>

    </div>
  </section>
 
  <main id="main">

 

    <section class="section-inner gray-bg">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row tele-sec  ">
          <div class="col-lg-12 job-form text-center">
            <h4> Products </h4>


          </div>
        </div>
        <div class="row projects-sec   justify-content-center aos-init aos-animate" data-aos="fade-up">
          <div class="col-md-6 prdt-c">
           
            <div class="career-box1">
              <h3>Joints</h3>
              <ul>
                <li>KSME Pre-moulded one-piece joint with heat-shrink outer protection 72.5 – 245 kV</li>
                <li>  SME Pre-moulded one-piece joint with housing outer protection 72.5 – 245 kV KSM 
                  Pre-moulded three-piece joint with heat-shrink outer protection 145 – 300 kV</li>
                <li>  SM Pre-moulded three-piece joint with housing outer protection 145 – 550 kV 
                  SKKB Screen separation kit</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6  prdt-c">
          
            <div class="career-box1">
              <h3>GIS/Transformer</h3>
              <ul>
                <li> KSEV/KTEV Dry plug-in GIS/transformer termination 72.5 – 550 kV</li>
                <li>   SEV/TEV Oil-filled GIS/transformer termination 123 – 420 kV</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6  prdt-c">
           
            <div class="career-box1">
              <h3>Outdoor termination</h3>
              <ul>
                <li> TD Dry prefabricated outdoor termination 123 – 145 kV</li>
                <li>   KFEV Dry plug-in outdoor termination 123 – 300 kV</li>
                <li>   FEV Fluid-filled outdoor cable termination 72.5 – 550 kV</li>
                <li>   THV Dry flexible outdoor termination 72.5 – 245 kV</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6  prdt-c">
          
            <div class="career-box1">
              <h3>Offshore products</h3>
              <ul>
                <li>CB Branch connector for GIS and transformer 72.5 kV</li>
                <li>  CC Coupling connector 72.5 kV</li>
                <li> CSA Surge arrester for CC 72.5 kV and CB 72.5 kV</li>
                <li>  CBC Screened dead-end cover for bushing-type F 72.5 kV</li>
                <li>  ACTR Termination rack 72.5 kV</li>
                <li>  ACTB Termination box 72.5 kV</li>
                <li>  ACTS Termination system 72.5 kV </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6  prdt-c">
            
            <div class="career-box1">
              <h3>Link box</h3>
               
            </div>
          </div>
        </div>

      </div>
    </section>


    <!-- End About Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3><a href="index.html"><img src="assets/img/asig-logo.png" class="img-fluid"></a></h3>
            <p>
              ASIG WLL was incorporated in 1979 with an aim to build an organization that offers state of the
              art engineering solutions in Electro Mechanical and Infrastructure Projects. <br><br>

            </p>
            <ul class="social-icon">
              <li><a href="#"><i class="bi bi-facebook"></i></a></li>
              <li><a href="#"><i class="bi bi-twitter"></i></a></li>
              <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>QUICK LINKS</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html"> About Company</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="clients.html"> Our Clients</a></li>

              <li><i class="bx bx-chevron-right"></i> <a href="agencies.html"> Agencies</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="gallery.html"> Gallery</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>QUICK LINKS</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="services.html"> Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="news.html"> News</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="career.html"> Careers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="contact.html"> Contact</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#"> Get a Quote</a></li>

            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-links">
            <h4>CONTACT INFO</h4>
            <ul>
              <li> FLOOR-10, GULF TOWER, QIBLA, KUWAIT CITY, KUWAIT</li>
              <li> Tel: 00965 22243860 /61/62/63/64</li>
              <li> Fax No: 00965 22426795</li>
              <li> <a href="mailto:info@asigwll.com">info@asigwll.com </a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          Copyright © 2023. All rights reserved by Asig Wll.
        </div>

      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>